.fbLogin {
	text-indent: -9999px;
	background-image: url('../img/fbLogin.png');
	width: 276px;
	height: 46px;
	display: block;
}

.fblogout {
	text-indent: -9999px;
	background-image: url('../img/fbLogout.png');
	width: 276px;
	height: 46px;
	display: block;
}